<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616852217995-pi7qs8iqv7351j0k33tv2mt53gf00ard.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616852217995-pi7qs8iqv7351j0k33tv2mt53gf00ard</string>
	<key>API_KEY</key>
	<string>AIzaSyAFc46MxCYvG4411hlSTnRREI_Gs8fbLS0</string>
	<key>GCM_SENDER_ID</key>
	<string>616852217995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.arpita.IOS-Final-Project</string>
	<key>PROJECT_ID</key>
	<string>homefood-6245a</string>
	<key>STORAGE_BUCKET</key>
	<string>homefood-6245a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616852217995:ios:6f980221abad10e204b48e</string>
</dict>
</plist>